table {
	margin: 18px 0 9px;
}

.badge {
	color: white;
	font-size: 9px;
	padding: 2px 9px;
	text-transform: uppercase;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.badge-1 {
	background-color: #F10099;
}
.badge-7 {
	background-color: #FF8F00;
}
.badge-11 {
	background-color: #008FCF;
}
.badge-9 {
	background-color: #F00000;
}
.badge-8 {
	background-color: #C200F7;
}
.badge-3 {
	background-color: #0057F7;
}
.badge-10 {
	background-color: #74C900;
}
.badge-2 {
	background-color: #74C900;
}
.badge-5 {
	background-color: #C76600;
}
.badge-6 {
	background-color: #744623;
}
.badge-4 {
	background-color: #A50600;
}
.badge-12 {
	background-color: #FF4F2A;
}

h5 {
	margin-top: 9px;
}